{
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"extends": "airbnb",
	"env": {
		"es6": true
	},
	"rules": {
		"no-empty-function": 0,
		"no-shadow": 0,
		"no-unused-vars": 0,
		"indent": 0,
		"class-methods-use-this": 0,
		"no-trailing-spaces": 0
	}
}
